.transactions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.transaction-item {
  display: grid;
  grid-template-columns: auto 1fr auto; /* Delete button, details, amount */
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transaction-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.transaction-details {
  display: flex;
  flex-direction: column;
}

.transaction-title {
  font-size: 16px;
  font-weight: bold;
  color: #34495e;
}

.transaction-meta {
  font-size: 14px;
  color: #7f8c8d;
  margin-top: 5px;
}

.transaction-meta span {
  display: inline-block;
  margin-right: 15px; /* Add spacing between metadata items */
}

.transaction-amount {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
}

.transaction-amount.income {
  color: #27ae60;
}

.transaction-amount.expense {
  color: #e74c3c;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e74c3c;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  color: white;
  margin-right: 15px; /* Place delete button on the left */
}

.delete-button:hover {
  background-color: #c0392b;
}

.transaction-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
